body {
    width: 100%;
    height: 100%;
    background-color: #212121;
    font-family: Roboto;
}

html {
    width: 100%;
    height: 100%;
}

#contact {
    height: 200px;
}

p {
    color: #eeeeee;
}

.content-container {
    display: table;
    height: 100%;
    width: 100%;
}

.section-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-content,
#particles-js {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#home-content {
    background: white;
}

#my-name {
    color: #eeeeee;
    padding: 0;
    margin: 0;
    font-size: 500%;
    font-weight: 400;
    font-family: OpenSans;
}

#my-title {
    color: #EEEEEE;
    font-family: OpenSans;
    font-size: 150%;
    font-weight: 400;
}

#btn-down {
    /*color: #EEEEEE;*/
    /*width: 75px;*/
    /*height: 75px;*/
    font-size: 60px;
    /*-webkit-transition: visibility 0.3s ease-in-out, ;*/
    /*-moz-transition: visibility 0.3s ease-in-out;*/
    /*transition: visibility 0.3s ease-in-out;*/
}

#name-wrapper {
    margin-top: 60px;
}

.bio-wrapper {

}

#bio {
    font-size: 1.15em;
}

.btn-invisible {
    visibility: hidden;
}

.bounce {
    -webkit-keyframes: bounce 1s infinite;
}

@-webkit-keyframes bounce {
    0% {
        bottom: 5px;
    }
    25%, 75% {
        bottom: 15px;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 0;
    }
}

a {
    color: #EEEEEE;
    background-color: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:focus {
    color: #eeeeee;
    background-color: transparent;
}

a:hover {
    background-color: transparent;
    text-decoration: none;
    color: #757575;
}

/*.active {*/
/*background: transparent;*/
/*}*/

.navbar-custom {
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
    border-bottom: 0;
    text-transform: uppercase;
    /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    background-color: black;
}

.navbar-custom .nav li a:hover {
    background-color: transparent;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #757575;
    /*background-color: #676b66;*/
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        /*visibility: hidden;*/
        -webkit-transition: visibility .3s ease, padding .3s ease, background .3s ease;
        -moz-transition: visibility .3s ease, padding .3s ease, backbground .3s ease;
        transition: visibility .3s ease, padding .3s ease, background .3s ease;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: black;
        visibility: visible;
        border-bottom: 0;
    }
}

#home {
    /*background: url("/assets/uqOXZqF.jpg") no-repeat bottom center scroll;*/
    background: #212121;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.personal-icon {
    text-transform: none;
    font-family: VarianeScript;
    font-size: 24px;
}

.soc {
    display: block;
    -webkit-padding-start: 0;
}

.soc-item {
    display: inline-block;
    margin: 1rem 1rem;
}

.contact-icon img {
    width: 2.5rem;
    height: 2.5rem;
    color: #eeeeee;
    fill: #eeeeee;
}

.contact-icon img:hover {
    width: 3rem;
    height: 3rem;
}