@font-face {
  font-family: PalmCanyonDrive;
  src: url('/fonts/PalmCanyonDrive.woff') format('woff');
}
@font-face {
  font-family: VarianeScript;
  src: url('/fonts/VarianeScript.ttf');
}
@font-face {
  font-family: Ailerons;
  src: url('/fonts/Ailerons-Typeface.otf');
}
@font-face {
  font-family: GreasySpoon;
  src: url('/fonts/GreasySpoon-Regular.otf');
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/OpenSans-Bold.ttf');
}

