<section id="contact" class="content-container text-center">
  <div class="section-content">
    <ul class="soc">
      <li class="soc-item">
        <a href="mailto:christiaan@chmartinez.io" class="contact-icon"><img src="icons/mail.svg"></a>
      </li>
      <li class="soc-item">
        <a href="https://github.com/sagalasan" class="contact-icon" target="_blank"><img src="icons/github.svg"></a>
      </li>
    </ul>

    <p><i class="fa fa-copyright" aria-hidden="true"></i> Christiaan Martinez 2018</p>
  </div>
</section>
