$switch-width: 45px;
$switch-height: 25px;
$switch-margin: 2px;

$slider-width: $switch-height - (2 * $switch-margin);
$slider-height: $slider-width;

$switch-translate: $switch-width - $slider-width - (2 * $switch-margin);

.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: $slider-height;
    width: $slider-width;
    left: $switch-margin;
    bottom: $switch-margin;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  &.round {
    border-radius: $switch-width;

    &:before {
      border-radius: 50%;
    }
  }
}

input {
  &:checked {
    + .slider {
      background-color: $highlight-color;

      &:before {
        -webkit-transform: translateX($switch-translate);
        -ms-transform: translateX($switch-translate);
        transform: translateX($switch-translate);
      }
    }
  }

  //&:focus {
  //  + .slider {
  //    box-shadow: 0 0 1px #2196f3;
  //  }
  //}
}