{{ define "main" }}

<div class="header header__container">
    <i class="fas fa-4x fa-angle-double-up"></i>
    <div>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>

<main class="container content">
    <div class="home">
        <div class="home__container home__intro intro__container">
            <h3 class="intro">Hello,</h3>
            <h3 class="intro intro__intro">My name is <span class="intro__bold">{{ .Site.Params.MyName }}</span>, I am a
                <span class="intro__bold">{{ .Site.Params.MyTitle }}</span>
                who specializes in designing clean and efficient solutions to modern software problems.
                I recently graduated from the <span class="intro__bold">University of New Mexico</span>
                with a degree in <span class="intro__bold">Computer Science</span>.
                When I'm not coding, you can find me working on cars, reading a book,
                or learning something new.
            </h3>
            <h3 class="intro">
                Get in touch.<br>
                <a class="intro__bold link__underline"
                   href="mailto:{{ .Site.Params.MyEmail }}">
                    {{ .Site.Params.MyEmail }}
                </a>
            </h3>
        </div>
        <div class="home__container home__info">
            <div class="section">
                <h3 class="section__title">Skills</h3>
                <div class="section__container">
                    <div class="skills__category">
                        <h4 class="skills__label">Languages</h4>
                        <div class="skills__items">
                            <span class="skill-item">Java,</span>
                            <span class="skill-item">Python,</span>
                            <span class="skill-item">SQL,</span>
                            <span class="skill-item">Rust,</span>
                            <span class="skill-item">Matlab,</span>
                            <span class="skill-item">JavaScript,</span>
                            <span class="skill-item">C++,</span>
                            <span class="skill-item">Bash</span>
                        </div>
                    </div>
                    <div class="skills__category">
                        <h4 class="skills__label">Tools</h4>
                        <div class="skills__items">
                            <span class="skill-item">Maven,</span>
                            <span class="skill-item">Cargo,</span>
                            <span class="skill-item">Git,</span>
                            <span class="skill-item">Docker,</span>
                            <span class="skill-item">Ansible,</span>
                            <span class="skill-item">Grunt,</span>
                        </div>
                    </div>
                    <div class="skills__category">
                        <h4 class="skills__label">Frameworks & OS</h4>
                        <div class="skills__items">
                            <span class="skill-item">Vert.x,</span>
                            <span class="skill-item">D3.js,</span>
                            <span class="skill-item">Pandas,</span>
                            <span class="skill-item">Numpy,</span>
                            <span class="skill-item">Linux (Debian, CentOS)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <h3 class="section__title">Experience</h3>
                <div class="section__container">
                    <div class="jobs__entry">
                        <div class="jobs__label">
                            <h4 class="jobs__company">Prediction Company</h4>
                            <span class="jobs__dates">August 2017 - August 2018</span>
                        </div>
                        <span class="jobs__role">Quantitative Developer</span>
                    </div>
                    <div class="jobs__entry">
                        <div class="jobs__label">
                            <h4 class="jobs__company">Intel Corporation</h4>
                            <span class="jobs__dates">May 2016 - August 2016</span>
                        </div>
                        <span class="jobs__role">Software Development Intern</span>
                    </div>
                    <div class="jobs__entry">
                        <div class="jobs__label">
                            <h4 class="jobs__company">Los Alamos National Laboratories</h4>
                            <span class="jobs__dates">June 2015 - July 2015</span>
                        </div>
                        <span class="jobs__role">Software Development Intern</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="footer">
    <div class="footer__container footer__logos">
        <a class="link__fill fab fa-1x fa-github" target="_blank" href="{{ .Site.Params.GithubLink }}"></a>
        <a class="link__fill fab fa-1x fa-linkedin" target="_blank" href="{{ .Site.Params.LinkedInLink }}"></a>
        <a class="link__fill far fa-1x fa-envelope" href="mailto:{{ .Site.Params.MyEmail }}"></a>
    </div>
    <div class="footer__container footer__copyright">
        <span>Copyright &copy <span id="copyright-year">{{ .Site.Params.CurrentYear }}</span> {{ .Site.Params.MyName }}</span>
    </div>
</div>

{{end}}
