{{ define "main" }}

<div class="header header__container">
    <!--<i class="fas fa-4x fa-angle-double-up"></i>-->

    <a class="link__fill" href="/">
        <svg id="brand-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.28 100">
            <title>Logo</title>
            <g transform="translate(-3.58 -3)">
                <path d="M80.13,81.35a5.42,5.42,0,0,0-7.41-2l-20.87,12a5.57,5.57,0,0,1-5.53,0L17.2,74.6a5.52,5.52,0,0,1-2.77-4.79V36.19A5.52,5.52,0,0,1,17.2,31.4L46.32,14.58a5.54,5.54,0,0,1,5.53,0l20.87,12a5.42,5.42,0,0,0,7.41-2h0a5.42,5.42,0,0,0-2-7.41l-20.88-12a16.39,16.39,0,0,0-16.37,0L11.77,22A16.43,16.43,0,0,0,3.58,36.19V69.81A16.43,16.43,0,0,0,11.77,84L40.9,100.81a16.39,16.39,0,0,0,16.37,0l20.88-12a5.42,5.42,0,0,0,2-7.41Z"></path>
            </g>
        </svg>
    </a>

    <div>
        <label class="switch">
            <input type="checkbox" id="night-day-checkbox">
            <span class="slider round" id="night-day-switch"></span>
        </label>
    </div>
</div>

<main class="container content">
    <div class="home">
        <div class="home__container home__intro intro__container">
            <h3 class="intro">Hello,</h3>
            <h3 class="intro intro__intro">My name is <strong>{{ .Site.Params.MyName }}</strong>, I am a
                <strong>{{ .Site.Params.MyTitle }}</strong>
                who specializes in designing clean and efficient solutions to modern software problems.
                I am interested in the architecture of large systems and how to implement them efficiently
                while keeping a focus on future maintainability.
                I recently graduated from the <strong>University of New Mexico</strong>
                with a degree in <strong>Computer Science</strong>.
                When I'm not coding, you can find me working on cars, reading a book,
                or learning something new.
            </h3>
            <h3 class="intro">
                Get in touch.<br>
                <a class="link__underline"
                   href="mailto:{{ .Site.Params.MyEmail }}">
                    <strong>{{ .Site.Params.MyEmail }}</strong>
                </a>
            </h3>
        </div>
        <div class="home__container home__info">
            <div class="section">
                <h3 class="section__title">Skills</h3>
                <div class="section__container">
                    <div class="skills__category">
                        <h4 class="skills__label">Languages</h4>
                        <div class="skills__items">
                            <span class="skill-item">Java,</span>
                            <span class="skill-item">Python,</span>
                            <span class="skill-item">SQL,</span>
                            <span class="skill-item">Rust,</span>
                            <span class="skill-item">Matlab,</span>
                            <span class="skill-item">JavaScript,</span>
                            <span class="skill-item">C++,</span>
                            <span class="skill-item">Bash</span>
                        </div>
                    </div>
                    <div class="skills__category">
                        <h4 class="skills__label">Tools</h4>
                        <div class="skills__items">
                            <span class="skill-item">Maven,</span>
                            <span class="skill-item">Cargo,</span>
                            <span class="skill-item">Git,</span>
                            <span class="skill-item">Docker,</span>
                            <span class="skill-item">Ansible,</span>
                            <span class="skill-item">Grunt,</span>
                            <span class="skill-item">LaTeX</span>
                        </div>
                    </div>
                    <div class="skills__category">
                        <h4 class="skills__label">Frameworks & OS</h4>
                        <div class="skills__items">
                            <span class="skill-item">Vert.x,</span>
                            <span class="skill-item">D3.js,</span>
                            <span class="skill-item">Pandas,</span>
                            <span class="skill-item">Numpy,</span>
                            <span class="skill-item">Linux (Debian, CentOS)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <h3 class="section__title">Experience</h3>
                <div class="section__container">
                    <div class="jobs__entry">
                        <div class="jobs__label">
                            <h4 class="jobs__company">Prediction Company</h4>
                            <span class="jobs__dates">August 2017 - August 2018</span>
                        </div>
                        <span class="jobs__role">Quantitative Developer</span>
                    </div>
                    <div class="jobs__entry">
                        <div class="jobs__label">
                            <h4 class="jobs__company">Intel Corporation</h4>
                            <span class="jobs__dates">May 2016 - August 2016</span>
                        </div>
                        <span class="jobs__role">Software Development Intern</span>
                    </div>
                    <div class="jobs__entry">
                        <div class="jobs__label">
                            <h4 class="jobs__company">Los Alamos National Laboratories</h4>
                            <span class="jobs__dates">June 2015 - July 2015</span>
                        </div>
                        <span class="jobs__role">Software Development Intern</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="footer">
    <div class="footer__container footer__logos">
        <a class="link__fill fab fa-1x fa-github" target="_blank" href="{{ .Site.Params.GithubLink }}"></a>
        <a class="link__fill fab fa-1x fa-linkedin" target="_blank" href="{{ .Site.Params.LinkedInLink }}"></a>
        <a class="link__fill far fa-1x fa-envelope" href="mailto:{{ .Site.Params.MyEmail }}"></a>
    </div>
    <div class="footer__container footer__copyright">
        <span>Copyright &copy <span id="copyright-year">{{ .Site.Params.CurrentYear }}</span> {{ .Site.Params.MyName }}</span>
    </div>
</div>

{{end}}
